@charset "utf-8";
/* CSS reset ******************************/
* ,*:before ,*:after {
	margin:0;
	padding:0;
	box-sizing:border-box;
	border:0 none;
	font-size:100%;
	font-weight:normal;
	text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	text-decoration:none;
	color:#333;
	text-shadow:1px 1px 2px #aaa;
	list-style:none;
}
a{ font-weight:bold; color:#0a0; }
a:hover{ text-decoration:underline; }

header h1{ font-size:70%; }
header h1 + p{ font-size:200%; }
header{ width:100%; box-shadow:0px 1px 1px rgba(0,0,0,0.3); z-index:100;}

.wrap{ width:960px; margin:0 auto; }

.copyText{ text-align:center;  font-size:70%; }

time{ margin-right:10px; font-weight:bold; }

li{ margin-bottom:10px; padding:5px; font-size:80%; }

h2{ background:#864815; color:#fff; padding:5px 10px; border-radius:10px; font-weight:bold; text-shadow:1px 1px 2px #666;}
