@charset "utf-8";

/* reset ******************************/
* ,*:before ,*:after {
	margin:0;
	padding:0;
	box-sizing:border-box;
	border:0 none;
	font-size:0;
	text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	font-weight:normal;
	text-decoration:none;
	text-shadow:1px 1px 2px #aaa;

	list-style:none;
	line-height:150%;
}
a{ font-weight:bold; color:#00a; }
a:hover{ text-decoration:underline; }
.wrap{ max-width:960px; margin:0 auto; position:relative; }

h1{ font-size:12px;}
h1 > #title{ font-size:36px; font-weight:bold; }

/* position **************************/

/* **************************/
#twilink{ position:absolute; bottom:10px; right:20px; }

h2{ font-size:24px; font-weight:bold; }
h3{ font-size:24px; }
h4{ font-size:12px; font-weight:bold; }
header{ width:100%; box-shadow:0px 1px 4px rgba(0,0,0,0.4); z-index:100; }
#content{ padding-bottom:30px; }

ul#log{
	display:flex;
	flex-flow:row wrap;
	justify-content:flex-start;
	align-items:flex-start;
	padding-left:5px;
}
ul#log > li{
	width:180px;
	height:300px;
	overflow:auto;
	border:solid 2px #666;
	border-radius:10px;
	padding:10px;
	margin-right:5px;
	margin-bottom:5px;
}
ul#log h3 *{ font-size:18px; font-weight:bold; }
ul#log > li p{ font-size:12px; }
ul#log > li span{ font-size:12px; display:block; }

footer{ background:#666; padding:20px; }
.copyright{ color:#fff; font-size:24px; text-align:center; }

#content_main > section{ padding:0 20px 20px; }
/* **************************/
input{ min-width:250px; border:2px solid #999; border-radius:4px; font-size:12px; padding:2px;}
